<nav>
    <h1>E-comm</h1>
<div *ngIf="updateMenu!='seller'" class="nav-search">
    <input type="text" #searchValue (keyup)="searchProduct($event)" (blur)="hideSearch()" name="search" id="">
    <button (click)="searchBtn(searchValue.value)">Search</button> 
    <ul class="suggestedProduct" *ngIf="searchResult">
        <li *ngFor="let item of searchResult">
            <a (mousedown)="redirectToComponent(item.id)">{{item.product_name}}</a>
        </li>
    </ul>
</div>
<div [ngSwitch]="updateMenu">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="seller">Seller</a></li>
        <li><a routerLink="user-auth">Login</a></li>
        <li><a href="#">Cart({{cartLength}})</a></li>
    </ul>

    <ul *ngSwitchCase="'seller'">
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a routerLink="seller-home">Product List</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><a href="#">{{sellerName | titlecase}}</a></li>
    </ul>

    <ul *ngSwitchCase="'user'">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="seller">Seller</a></li>
        <li><a href="">{{userName | titlecase}}</a></li>
        <li><a routerLink="my-order">My Order</a></li>
        <li><a (click)="userLogout()">Logout</a></li>
        <li><a [routerLink]="cartLength > 0 ? 'cart-page' : null">Cart({{cartLength}})</a></li>
    </ul>
</div>
</nav>
