.suggestedProduct{
    width: 300px;
    position: absolute;
    top:40px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    background-color: #fff;
}

.suggestedProduct li{
    /* border: 1px solid #ddd; */
    padding: 5px;
}

.suggestedProduct li a{
    width: 100%;
   text-decoration: none;
   color: #000;
}

.suggestedProduct li:hover{
    background: gray;
    color: #fff;
    cursor: pointer;
}