.my_order h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.my_order .my_order_img{
    width: 100px;
}

.my_order_details{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

}

.my_order{
    margin-bottom: 50px;
}