<div class="product">
    <h2>Product List</h2>
    <p class="success">{{productMessage}}</p>
    <table>
        <tr>
            <th>Product id</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Product Image</th>
            <th>Delete Product</th>
            <th>Update Product</th>
        </tr>
        <tr *ngFor="let item of productList">
            <td>{{item.id}}</td>
            <td>{{item.product_name}}</td>
            <td>{{item.product_category}}</td>
            <td>{{item.product_description}}</td>
            <td>{{item.product_price}}</td>
            <td><img src="{{item.product_image}}" width="100px" height="100px"></td>
            <td><button (click)="deleteProduct(item.id)">Delete</button></td>
            <td><a routerLink="/seller-update-product/{{item.id}}">Update</a></td>
        </tr>
    </table>
</div>
